@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-yekanbakh) !important;
}

:lang(en) {
  font-family: var(--font-figtree);
}

.glass {
  background: rgba(27, 27, 27, 0.2);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
}
.mobileMenu {
  height: calc(100% - 63px);
}
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar {
  width: 4px;
  height: 0px;
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 40px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 40px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 40px;
}
